.gameSnake{
  border:1px solid rgb(16, 16, 16);
  background-color: aquamarine;
}
.fieldHorizontal{
  display: flex;
}
.cell,.cellfood,.cellsnake,.cellbodyfood,.cellbody,.cellsnakeHeadbody{
  width: 30px;
  height: 30px;
}
 
.cell{
  background-color: rgb(189, 189, 189);
}
.cellfood{
  background-color: rgb(255, 116, 116);
}
.cellsnakeHeadfood,.cellsnakeHeadbodyfood,.cellbodyfood,.cellbody{
  background-color: #19cf22;
}
.cellsnakeHeadbody{
  background-color: #16c21e;
}